### Eclipse
maven-eclipse.xml
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.project
.loadpath
.recommenders
.classpath
.externalToolBuilders/

### Intellij
.idea
*.iml
*.iws
*.ipr

### VS-Code
.vscode/

### NetBeans
/nbproject/private
/nbbuild
/dist/
/nbdist/
/.nb-gradle
build/

### BeyondCompare, PSPad
*.~*
~*
*~
*.bak*
*.BAK*
backup/

### maven
target/
bin/
pom.xml.releaseBackup
release.properties
.flattened-pom.xml

### Nexinsure
config_generated/
xsd_generated/
gen/
html_out
*.log
**/jbit-versioninfo.txt
*/db_bootstrapping/csv/**
*/java2ws.xml
*.log

### Binaries
*.jar
*.JAR
*.ear
*.EAR
*.war
*.WAR
*.7z
*.7Z
*.gz
*.iso
*.ISO
*.rar
*.tar
*.tgz
*.zip
*.ZIP
*.sar
*.class
*.bz2
*.s7z
*.tif
*.TIF
*.tiff
*.TIFF
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
*.exe
*.EXE
*.bin
*.BIN
*.bmp
*.BMP
*.js
*.ico

### Office
~$*
*.doc
*.DOC
*.docx
*.DOCX
*.xls
*.XLS
*.xlsx
*.XLSX
*.xlsm
*.XLSM
*.ppt
*.PPT
*.pptx
*.PPTX
*.dot
*.DOT
*.vsdx
*.VSDX

## OS-specific
.DS_Store?
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*.dmg

.clj-kondo/
.lsp/